/* 	font-face  */
/* ----------------------------------------- */
@font-face {
  font-family: 'LatoWebBlack';
  src: url('../fonts/Lato-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebBlack';
  src: url('../fonts/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-BlackItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebBold';
  src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebBold';
  src: url('../fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebHairline';
  src: url('../fonts/Lato-Hairline.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-Hairline.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-Hairline.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebHairline';
  src: url('../fonts/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-HairlineItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebHeavy';
  src: url('../fonts/Lato-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebHeavy';
  src: url('../fonts/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-HeavyItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWeb';
  src: url('../fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebLight';
  src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebLight';
  src: url('../fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebMedium';
  src: url('../fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebMedium';
  src: url('../fonts/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWeb';
  src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebSemibold';
  src: url('../fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebSemibold';
  src: url('../fonts/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-SemiboldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebThin';
  src: url('../fonts/Lato-Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-Thin.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWebThin';
  src: url('../fonts/Lato-ThinItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Lato-ThinItalic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Lato-ThinItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* ----------------------------------------- 	font-face */

/* variables */
/* ----------------------------------------- */
	$font-pri:    'Montserrat', sans-serif;
	$font-sec:    'LatoWeb';
	$font-ter:    'Heebo', sans-serif;

	$color-pri:     #3F424C;
	$color-sec:     #0066CC;
	$color-ter:     #A8A9B1;
	$color-qua:     #4C89EB;
	$color-qui:     #0D1039;
  $color-sex:     #101648;
  
	$color-txt:     #3C4B63;
	$color-bg:      #F3F3F3;
	$color-border:  #E8E8E8;
/* ----------------------------------------- variables */

/* general mixins and functions */
/* ----------------------------------------- */
	@mixin columns($qtd: 2) {
		@include media-breakpoint-down(sm) {
			-webkit-column-count: $qtd; /* Chrome, Safari, Opera */
		  -moz-column-count: $qtd; /* Firefox */
		  column-count: $qtd;
		}
	}

	@mixin cover() {
	  -webkit-background-size: cover !important;
	  -moz-background-size: cover !important;
	  -o-background-size: cover !important;
	  background-size: cover !important;
	}

	@mixin contain() {
	  -webkit-background-size: contain !important;
	  -moz-background-size: contain !important;
	  -o-background-size: contain !important;
	  background-size: contain !important;
	}

	@mixin h1() { font-size: $font-size-h1; }
	@mixin h2() { font-size: $font-size-h2; }
	@mixin h3() { font-size: $font-size-h3; }
	@mixin h4() { font-size: $font-size-h4; }
	@mixin h5() { font-size: $font-size-h5; }
	@mixin h6() { font-size: $font-size-h6; }

	@mixin thin()   	{ font-weight: 100; }
	@mixin elight()   { font-weight: 200; }
	@mixin light()  	{ font-weight: 300; }
	@mixin normal()  	{ font-weight: 400; }
	@mixin medium()   { font-weight: 500; }
	@mixin semi()    	{ font-weight: 600; }
	@mixin bold()    	{ font-weight: 700; }
	@mixin ebold()    { font-weight: 800; }
  @mixin black()   	{ font-weight: 900; }
  
  @mixin lato_hline()   { font-family: 'LatoWebHairline'; }
	@mixin lato_elight()  { font-family: 'LatoWebThin'; }
	@mixin lato_light()  	{ font-family: 'LatoWebLight'; }
	@mixin lato_normal()  { font-family: 'LatoWeb'; }
	@mixin lato_medium()  { font-family: 'LatoWebMedium'; }
	@mixin lato_semi()    { font-family: 'LatoWebSemibold'; }
	@mixin lato_bold()    { font-family: 'LatoWebBold'; }
	@mixin lato_ebold()   { font-family: 'LatoWebHeavy'; }
	@mixin lato_black()   { font-family: 'LatoWebBlack'; }

	// Font size rem
	@function calculateRem($size) {
	  $remSize: $size / 16px;
	  @return #{$remSize}rem;
	}

	@mixin font($size) {
	  font-size: $size;
	  font-size: calculateRem($size);
	}

	@mixin radius($px) {
	  -webkit-border-radius: $px;
	  -moz-border-radius: $px;
	  -ms-border-radius: $px;
	  border-radius: $px;
	}

	@mixin grayscale_on() {
	  -webkit-filter: grayscale(100%);
	  filter: grayscale(100%);
	  filter: gray;
	  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
	}

	@mixin grayscale_off() {
	  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	  -webkit-filter: grayscale(0%);
	}

	@mixin grayscale() {
	  @extend grayscale_on();
	  &:hover,
	  &.active {
	  	@extend grayscale_off();
	  }
	}

	@mixin placeholder {
	  &.placeholder { @content; }
	  &:-moz-placeholder { @content; }
	  &::-moz-placeholder { @content; }
	  &::-webkit-input-placeholder { @content; }
	}

	@-webkit-keyframes load {
	  0%, 80%, 100% {
	    box-shadow: 0 0;
	    height: 1em;
	  } 40% {
	    box-shadow: 0 -2em;
	    height: 1.5em;
	  }
	}

	@keyframes load {
	  0%, 80%, 100% {
	    box-shadow: 0 0;
	    height: 1em;
	  } 40% {
	    box-shadow: 0 -2em;
	    height: 1.5em;
	  }
  }

  .box-loading {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    @include transition(all 0.15s ease-in-out);
    background: rgba(#101648, .8);
    z-index: 1000;
  }  
  
  .loading {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    position: fixed;
    top: 50%;
    left: 50%;

    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 51px;
      height: 51px;
      margin: 6px;
      border: 6px solid #fff;
      border-radius: 50%;
      animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }
      &:nth-child(2) {
        animation-delay: -0.3s;
      }
      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
/* ----------------------------------------- general mixins and functions */

/* 	sprite  */
/* ----------------------------------------- */
  @mixin sprite( $spriteVals ) {
    width: nth( $spriteVals, 1 );
    height: nth( $spriteVals, 2 );
    background-repeat: no-repeat;
    background-image: url( #{ nth( $spriteVals, 3 ) } );
    background-position: nth( $spriteVals, 4 ) nth( $spriteVals, 5 );
  }
  $spritePath: '../images/sprite';
  $spriteURL: $spritePath + '.svg';
  $spritex2URL: $spritePath + '@2.svg';
  $bgiSizeW: 200px;
  $bgiSizeH: 100px;
  $accessibility: 27px 27px $spriteURL -3px -4px $spritex2URL;
  $contrast: 21px 21px $spriteURL -35px -7px $spritex2URL;
  $search: 25px 22px $spriteURL -62px -7px $spritex2URL;
  $search-sec: 25px 22px $spriteURL -62px -33px $spritex2URL;
  $angle-left: 19px 19px $spriteURL -90px -7px $spritex2URL;
  $angle-right: 11px 18px $spriteURL -112px -9px $spritex2URL;
  $check: 13px 10px $spriteURL -131px -13px $spritex2URL;
  $angle-down: 19px 11px $spriteURL -152px -12px $spritex2URL;
  $close: 9.94px 9.94px $spriteURL -179px -13px $spritex2URL;
  $caret: 13px 7px $spriteURL -7px -39px $spritex2URL;
  $visibility: 28px 22px $spriteURL -105px -35px $spritex2URL;
  $invisible: 28px 20px $spriteURL -143px -36px $spritex2URL;
  $video: 7px 10px $spriteURL -10px -59px $spritex2URL;
  $audio: 21px 25px $spriteURL -30px -36px $spritex2URL;
  $arrow-prev: 21.49px 34.84px $spriteURL -69px -62px $spritex2URL;
  $arrow-prev-active: 21.49px 34.84px $spriteURL -94px -62px $spritex2URL;
  $arrow-next: 21.49px 34.84px $spriteURL -168px -61.998999999999995px $spritex2URL;
  $arrow-next-active: 21.49px 34.84px $spriteURL -143px -61.998999999999995px $spritex2URL;
  $close: 19px 19px $spriteURL -10px -75px $spritex2URL;
  $share: 22px 20px $spriteURL -40px -74px $spritex2URL;
  $star: 18px 17px $spriteURL -204px -9px $spritex2URL;
  $check: 13px 11px $spriteURL -187px -39px $spritex2URL;
  $pencil: 19px 19px $spriteURL -216px -35px $spritex2URL;
  $pencil-active: 19px 19px $spriteURL -216px -59px $spritex2URL;
  $spriteList: $accessibility accessibility, $contrast contrast, $search search, $search-sec search-sec, $angle-left angle-left, $angle-right angle-right, $check check, $angle-down angle-down, $close close, $caret caret, $visibility visibility, $invisible invisible, $video video, $audio audio, $arrow-prev arrow-prev, $arrow-prev-active arrow-prev-active, $arrow-next arrow-next, $arrow-next-active arrow-next-active, $close close, $share share, $star star, $check check, $pencil pencil, $pencil-active pencil-active;

  @each $icon in $spriteList {
    $spriteName: nth( $icon, 2 );
    $spriteClass: nth( $icon, 1 );
    .icon-#{$spriteName} {
      @include sprite( $spriteClass );
    }
  }
/* ----------------------------------------- 	sprite */