@import "bfriend-mixins";

.sprite-url {
  background-image: url(../images/sprite.svg) !important;
}

.facetwp-facet {
  margin-bottom: 40px;
  margin-top: 25px;

  .facetwp-counter {
    display: none;
  }
}

.facetwp-pager {
  @extend .col-12;
  display: flex;
  justify-content: flex-end;  
  margin-bottom: 4rem;
}

.facetwp-loading {
  width: 20px;
  height: 20px;
  background: url(../images/facet/loading.png) no-repeat;
  background-size: 20px 20px;
  animation: spin 700ms infinite linear;
}

.facetwp-overlay {
  position: absolute;
  background-color: #fff;
  opacity: 0.6;
}

/* Checkboxes */
.facetwp-type-checkboxes {
  .facetwp-depth {
    display: none;

    &.visible {
      display: inherit;
    }
  }
}

.facetwp-checkbox {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  padding-bottom: 10px;
  padding-left: 30px;
  font-family: $font-pri;
  color: $color-ter;
  position: relative;
  @include font(15px);
  cursor: pointer;

  &:before,
  &:after {
    @extend .pseudo;
    position: absolute;
  }

  &:before {
    @include sprite($check);
    top: 5px; left: 2px;
    opacity: 0;
    z-index: 10;
  }

  &:after {
    left: 0; top: 2px;
    width: 18px;
    height: 18px;
    border: 2px solid #A8A9B1;
    @include radius(2px);
    @include transition(all 150ms ease-in-out);
    z-index: 5;
  }

  &:not(.disabled):hover {
    color: $color-qua;
  }

  &.checked {
    &:before {
      opacity: 1;
    }
    &:after {
      border-color: $color-qua;
      background: $color-qua;
    }
  }

  .facetwp-expand {
    float: right;
  }
}


.facetwp-checkbox,
.facetwp-radio {
  &.disabled {
    opacity: 0.4;
    cursor: default;
  }
}

/* Radio */
.facetwp-radio {
  background: url(../images/facet/radio.png) 0 50% no-repeat;
  background-size: 14px 14px;
  margin-bottom: 4px;
  padding-left: 20px;
  cursor: pointer;

  &.checked {
    background-image: url(../images/facet/radio-on.png);
  }
}

/* Date range */
.flatpickr-clear {
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
}

/* fSelect */
.facetwp-type-fselect .fs-wrap,
.facetwp-type-fselect .fs-dropdown {
  width: 100%;
}

.facetwp-type-fselect .fs-wrap.fs-disabled .fs-option {
  opacity: 0.4;
  cursor: default;
}

.facetwp-type-fselect .fs-option .fs-option-label {
  white-space: nowrap;
}

.facetwp-type-fselect .fs-option.d1 .fs-option-label {
  padding-left: 20px;
}

.facetwp-type-fselect .fs-option.d2 .fs-option-label {
  padding-left: 40px;
}

.facetwp-type-fselect .fs-option.d3 .fs-option-label {
  padding-left: 60px;
}

.facetwp-type-fselect {
  
  .fs-wrap.multiple {
    position: relative;
    outline: none;

    .fs-dropdown {
      border: 1px solid #E8E8E8;
      border-top: 0;
      padding: 16px 16px;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      
      .fs-options {
        overflow: initial;
      }
  
      .fs-option {
        
        padding: 8px 0;
        .fs-checkbox {
          display: none !important;
        }

        &:hover {
          color: #4C89EB;
        }

        &.selected {
          display: none;
        }
      }
    }

    &.fs-open {
      .fs-dropdown {
        margin-top: -6px;
      }
    }
  }

  .fs-label-wrap {
    height: auto;
    background: #F1F1F1;
    border: 1px solid #E8E8E8;
    
    .fs-arrow {
      display: none;
    }    
    .fs-label {
      min-height: 50px;
      padding-top: 16px;
      padding-bottom: 16px;
      overflow: visible;
      white-space: initial;
      text-overflow: unset;
      cursor: text;

      > span {
        display: inline-block;
        padding: 16px;
        background-color: white;
        margin-bottom: 6px;
        margin-right: 6px;
        border-radius: 5px;
        @include box-shadow(0px 3px 6px 0px rgba(#000000, .16));
      }
      &-title {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
      }
      &-remove {
        margin-left: 6px;
        font-weight: bold;
        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }
}


/* Hierarchy */

.facetwp-depth {
  margin-left: 12px;
}

.facetwp-link {
  cursor: pointer;
}

.facetwp-link.checked {
  font-weight: bold;
  cursor: default;
}

.facetwp-toggle {
  cursor: pointer;
}

.facetwp-seo,
.facetwp-hidden {
  display: none;
}

/* Slider */
.facetwp-slider-wrap {
  padding-bottom: 15px;
}

.facetwp-slider-reset {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
  padding: 4px 8px;
  cursor: pointer;
}

/* Search */
.facetwp-search-wrap {
  position: relative;
}

.facetwp-search {
  padding-right: 28px;
}

.facetwp-btn {
  top: 0;
  right: 15px;
  line-height: 1;
  position: absolute;
  cursor: pointer;
  opacity: 0.5;
  &:before {
    display: inline-block;
    content: '';
    @include sprite($search-sec);
    @extend .sprite-url;
  }
}

/* Proximity */
.location-wrap {
  display: inline-block;
  position: relative;
}

input.facetwp-location {
  padding-right: 28px;
  min-width: 240px;
}

.location-results {
  position: absolute;
  background: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  overflow: hidden;
  width: 100%;
}

.location-result {
  font-size: 11px;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #888;
}

.location-result:hover {
  background-color: #f8f8f8;
}

.location-result.active {
  background-color: #EBF2FE;
}

.result-main {
  font-size: 13px;
  color: #222;
}

.locate-me {
  top: 50%;
  right: 5px;
  line-height: 1;
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
  opacity: 0.5;
}

.locate-me:before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  background: url(../images/facet/icon-locate.png) no-repeat;
  background-size: 20px 20px;
}

.locate-me.f-loading:before {
  background: url(../images/facet/loading.png) no-repeat;
  background-size: 20px 20px;
  animation: spin 700ms infinite linear;
}

.locate-me.f-reset:before {
  background: url(../images/facet/icon-close.png) no-repeat;
  background-size: 20px 20px;
}

/* Rating */

.facetwp-stars {
  float: left;
  line-height: 1;
  padding-right: 4px;
  user-select: none;
}

.facetwp-star {
  float: right;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
}

.facetwp-star:hover,
.facetwp-star:hover ~ .facetwp-star,
.facetwp-star.selected,
.facetwp-star.selected ~ .facetwp-star {
  color: #000;
}

.facetwp-star.selected:hover,
.facetwp-star.selected:hover ~ .facetwp-star {
  color: red;
}

/* CSS animations */

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* Selections shortcode */
.facetwp-selections li {
  display: inline-block;
  line-height: 1;
}

.facetwp-selections .facetwp-selection-value {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  padding-right: 16px;
  background-image: url(../images/facet/icon-close.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
