@import "bfriend-mixins";

body.login {
  background-color: $color-qui;
  h1 {
    a {
      width: 320px !important;
      height: 93px !important;
      margin: 80px auto 5px;
    }
  }

  #loginform {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    box-shadow: none;
    label {
      color: black;
      font-weight: 500;
    }
    #wp-submit {
      border: none;
      background: theme-color("primary") !important;
      box-shadow: none;
      padding: 0 20px;
      text-shadow: none;
      text-transform: uppercase;
      border-radius: 0;
    }
  } // #loginform

  #nav, #backtoblog {
    color: white !important;
    text-align: center;
    padding-left: 0;
    a {
      color: white !important;
      text-decoration: none;
      text-shadow: none;
      &:hover {
        color: white !important;
        text-decoration: underline;
      }
    }
  }

  .button {
    &.button-primary {
      background-color: theme-color("primary");
    }
  }
}