@import "bootstrap/bootstrap";
@import "bootstrap/mixins";
@import "bfriend-mixins";
@import "bfriend-styles";
@import "facet";

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


/* general  */
/* ----------------------------------------- */
.hentry, p {
  p, li, ul, li {
    
    color: $color-txt;
    @include lato_normal;
    
    @include media-breakpoint-up(lg) {
      @include font(18px);
    }
    @include media-breakpoint-up(xl) {
      @include font(20px);
    }

  }
}

html {
  &.font-small {
    font-size: 90%;
  }

  &.font-normal {
    font-size: 100%;
  }

  &.font-large {
    font-size: 110%;
  }
}

body {
  background: $color-bg;
  overflow-x: hidden;

  &.in {
    overflow: hidden;
  }
}

.container-full {
  width: 100vw;
  margin-left: calc(((100vw - 100%)/2)*-1);
}
.pseudo {
  display: block;
  content: '';
}

.font-classic {
  color: $color-txt;
  @include font(15px);
}

.font-pri { font-family: $font-pri; }
.font-sec { font-family: $font-sec; }
.font-ter { font-family: $font-ter; }

.has-shadow {
  @include box-shadow(0px 3px 6px 0px rgba(#000000, .16));
}

.no-shadow {
  box-shadow: none !important;
}

.thumb-effect {
  overflow: hidden;
  img {
    @include transition(all 300ms ease-in-out);
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.icon { display: inline-block; }

.s-title {
  color: $color-txt;
  margin-bottom: 1em;
  @include font(20px);
  @include bold;

  @include media-breakpoint-up(md) {
    @include font(25px);
  }
  @include media-breakpoint-up(lg) {
    @include font(30px);
  }

  &.s-title-h1 {
    margin-top: 1.5em;
    @include media-breakpoint-up(xl) {
      @include font(48px);
    }
  }

  &--has-line {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #AAB1BD;

    &.has-after {
      position: relative;
      &:after {
        @extend .pseudo;
        position: absolute;
        width: 60%;
        max-width: 410px;
        height: 4px;
        left: 0; bottom: -2px;
        background: #418BEA;
      }
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
      padding-bottom: 15px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 50px;
      padding-bottom: 20px;
    }
  }

  &--has-icon {
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 30px;
      width: 53px;
      height: 53px;
      padding: 12px;
      background: $color-sec;
      @include radius(50%);
    }
  }

  &--small {
    @include font(20px);
  }

  &--big {
    @include font(28px);

    @include media-breakpoint-up(md) {
      @include font(38px);
    }
    @include media-breakpoint-up(lg) {}
    @include media-breakpoint-up(xl) {
      @include font(48px);
    }
  }

  &--clean {
    @include font(20px);
    @include medium;
  }
}

.btn {
  &--classic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    color: white;
    background: $color-qua;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    @include font(12px);
    @include medium;
    @include radius(3px);
    @include box-shadow(0px 3px 6px rgba(#000, .16));

    &:hover {
      background: $color-pri;
      color: white;
    }

    span {
      display: flex;
      align-items: center;
    }

    &__has-border {
      span {
        display: flex;
        position: relative;
        z-index: 5;
      }
      
      &:before {
        @extend .pseudo;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        background: rgba($color-qua, .5);
        @include radius(5px);
        z-index: 0;
      }
    }

    &__favorite {
      background: #FFC34A;
      color: #8F6818;

      &:hover {
        background: darken(#FFC34A, 15%);
        color: #8F6818;
      }
    }

    &__sec {
      color: white;
      background: #FF4F4F;
      text-transform: uppercase;
      
      @include media-breakpoint-up(xl) {
        min-width: 260px;
      }
      
      &:hover {
        background: $color-qua;
      }
    } // &__sec

    &__ter {
      color: white;
      background: #5DCCB2;
      text-transform: uppercase;
      min-width: 260px;
      
      &:hover {
        background: $color-qua;
      }
    }

    &__outline {
      text-transform: none;
      background: transparent;
      border: 3px solid #A4AAB5;
      color: #A4AAB5;
      @include font(15px);
      @include lato_black;
      @include radius(7px);

      &:hover {
        color: #A4AAB5;
        background: rgba($color-pri, .1);
      }

      &.active {
        color: white;
        border-color: $color-qua;
        background: $color-qua;

        i {
          @include sprite($pencil-active);
        }
      }
    }
  }
}

.loop-title {
  letter-spacing: 0.5px;
  line-height: 22px;
  @include font(16px);
  @include bold;

  @include media-breakpoint-up(md) {
    letter-spacing: 0.5px;
    line-height: 28px;
    @include font(20px);
    @include bold;
  }
}

.mb-classic {
  margin-bottom: 40px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 60px;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 80px;
  }

  &--big {
    @include media-breakpoint-up(md) {
      margin-bottom: 130px;
    }
  }
}

.has-mask {
  position: relative;
  &:after {
    @extend .pseudo;
    position: absolute;
    left: 0; bottom: 0;
    width: 100%;
    height: 100%;
    @include gradient-y(transparent, rgba(black, .8), 15%, 100%);
  }
}

.col-offcanvas {
  @include transition(all 300ms ease-in-out);

  &--sidebar {
    margin-left: -100%;
    position: absolute;
    z-index: 10;

    &.active {
      margin-left: 0;
    }

    @include media-breakpoint-up(md) {
      margin-left: -50%;
    }

    @include media-breakpoint-up(menu) {
      position: relative;
      margin-left: -33.333333%;
    }

    @include media-breakpoint-up(xl) {
      margin-left: -25%;
    }
  }

  &--content {
    // flex: 0 0 91.6666666667%;
    // max-width: 91.6666666667%;
    // margin: 0 auto;
    
    // &.active {
    //   flex: 0 0 91.6666666667%;
    //   max-width: 91.6666666667%;
    //   margin: 0 auto;
    // }

    // @include media-breakpoint-up(md) {
    //   flex: 0 0 100%;
    //   max-width: 100%;
      
    //   &.active {
    //     flex: 0 0 75%;
    //     max-width: 75%;
    //     margin-left: 0;
    //   }
    // }

    @include media-breakpoint-up(menu) {
      
      &.active {
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
        margin-left: 0;
      }
    }
    
    @include media-breakpoint-up(xl) {
      &.active {
        flex: 0 0 75%;
        max-width: 75%;
        margin-left: 0;
      }
    }
  }
}

.slick {
  opacity: 0;
  // transition: 450ms ease-in all;
  &-initialized {
    opacity: 1;
    transition: 1s ease-in opacity;
  }
  &-slide {
    // transition: 450ms ease-in height;
  }
  &-resizing {
    opacity: .3;
    transition: 1s ease-in opacity;
    // transition: 450ms ease-in all;
    .slick-slide {
      // transition: 450ms ease-in all;
    }
  }
}
.slick-slider {
  
  .slick-dots {
    text-align: right;
    bottom: 30px;

    li {
      button {
        &:before {
          color: white;
          @include font(13px);
        }
      }
      &.slick-active {
        button:before {
          color: white;
        }
      }
    }
  }

  &--has-color {
    .slick-dots {
      text-align: center;
      li {
        button {
          &:before {
            color: #9DACBF;
            @include font(16px);
          }
        }
        &.slick-active {
          button:before {
            color: #9DACBF;
          }
        }
      }
    }
  }

  .slick-prev,
  .slick-next {
    width: 25px;
    height: 35px;

    &:before {
      opacity: 1;
      color: transparent;
      display: block;
      @include transition(all 150ms ease-in-out);
    }
  }
  .slick-prev {   
    &:before {
      @include sprite($arrow-prev);
    }
    &:hover {
      &:before {
        @include sprite($arrow-prev-active);
      }
    }
  }

  .slick-next {
    &:before {
      @include sprite($arrow-next);
    }
    &:hover {
      &:before {
        @include sprite($arrow-next-active);
      }
    }
  }
}

ul.accessibility {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;

  li {
    margin-right: 5px;
    display: flex;
    align-items: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    @include font(11px);

    button {
      cursor: pointer;
      padding: 0;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33px; height: 33px;
      color: white;
      background: #161F6A;
      @include font(18px);
      @include radius(3px);

      small { 
        @include font(13px); 
      }
      strong { 
        @include font(23px); 
        @include normal;
      }

      &:hover {
        background: #1E2B95;
      }
      &:focus {
        outline: none;
      }
    }

    &:last-child {
      margin-right: 0;
      margin-left: 10px;
    }

    .dropdown-menu {
      @include radius(0);
      p {
        text-align: center;
        text-transform: none;
        color: $color-pri;
        line-height: 14px;
        @include font(14px);
      }
    }
  }
} // accessibility

#breadcrumbs {
  margin-bottom: 20px;

  a, span {
    color: $color-pri;
    @include font(20px);
    @include medium;
  }
}

.pagination {
  .page-item {
    margin-right: 10px;
    .page-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      background-color: transparent;
      border: 0;
      color: $color-pri;
      @include font(25px);
      @include medium;
      @include radius(50%);

      &:hover {
        color: $color-qua;
      }
    }

    &:last-child,
    &.first {
      margin-right: 0;
      .page-link {
        color: white;
        background: $color-qua;
        @include radius(50%);

        &:hover {
          color: white;
          background: $color-pri;
        }
      }
    }
  }
}

.alert-register {
  background: #5DCCB2;
  text-align: center;
  margin-bottom: -50px;

  p {
    color: white;
    margin: 0;
    @include font(15px);
    @include medium;

    a {
      text-decoration: underline !important;
      color: white;
      @include bold;
    }
  }
}
/* ----------------------------------------- general */

/* header */
/* ----------------------------------------- */
  .main-header {
    background: $color-sex;
    @extend .shadow;

    &--topbar {
      display: flex;
      align-items: center;
      background: $color-qui;
      @include media-breakpoint-up(md) {
        min-height: 59px;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;

        &.account {
          li {
            display: flex;

            a, button {
              display: flex;
              align-items: center;
              padding: 15px 30px;
              color: white;
              text-transform: uppercase;
              border: 0;
              box-shadow: none !important;
              @include radius(0);
              @include font(11px);
              @include bold;

              &:hover {
                background: $color-qua;
              }

              &:hover,
              &:focus,
              &:active {
                outline: none;
                box-shadow: none !important;
              }

              @include media-breakpoint-up(md) {
                padding: 15px 25px;
              }
              @include media-breakpoint-up(lg) {
                padding: 22.5px 50px;
              }
              @include media-breakpoint-up(xl) {}
            }
            &:last-child {
              a, button {
                background: $color-sec;
                &:hover {
                  background: $color-qua;
                }
              }
            }

            .dropdown-menu {
              margin: 0 0 0 5px;
              padding: 0;
              border: 0;
              width: 100%;
              min-width: 100%;
              border-radius: 0;
              border-bottom-left-radius: 5px;
              overflow: hidden;
              background: #3579E5;

              &:not(.show) {
                display: none;
              }

              li {
                &:not(:last-child) a {
                  border-bottom: 1px solid rgba(white, .20);
                }
                a {
                  width: 100%;
                  display: block;
                  margin: 0 20px;
                  padding: 1rem 0;
                  background: #3579E5;
                  
                  &:hover {
                    background: transparent;
                    padding-left: 7px;
                  }
                }
              }
            }
          }
        } // .account
      }
      
    } //&--topbar

    .navbar-nav {
      align-items: center;

      .nav-item {

        .nav-link {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 10px 17px;
          color: white;
          text-transform: uppercase;
          text-align: right;
          @include font(11px);
          @include medium;

          i { flex-shrink: 0; }

          &:hover {
            color: $color-qua;
          }

          @include media-breakpoint-up(menu) {
            justify-content: flex-start;
            text-align: left;
          }
        }

        &:first-child {
          .nav-link {
            @include media-breakpoint-up(menu) {
              padding-left: 0;
            }
          }
        }

        &--search {
          display: none;

          .nav-link {
            padding: 11px 22.5px;
            background: $color-sec;
            @include radius(3px);

            &:hover {
              background: $color-qua;
            }
          }
          
          @include media-breakpoint-up(lg) {
            margin-left: 10px;
          }
          
          @include media-breakpoint-up(menu) {
            display: block;
          }
        }

        &.dropdown {
          > .navbar-nav {
            background: $color-sex;
            width: 270px;
            align-items: flex-start;
            padding-top: 28px;
            padding-bottom: 20px;

            .nav-item {
              width: 100%;

              .nav-link {
                padding: 10px 30px;
                text-transform: none;
                @include font(15px);

                &:hover {
                  color: white;
                  background: $color-sec;
                }
              }

              &.active {
                > .nav-link {
                  color: white;
                  background: $color-sec;
                }
              }
            }

            ul {
              padding-top: 0;
            }
          }
        }

        &.duas-colunas {
         @include media-breakpoint-up(menu) {
          > .navbar-nav {
            column-count: 2;
            width: 550px;
            display: block;
          }
         }
        }
      }
    } // .navbar-nav

    .sebrae {
      position: absolute;
      top: 30%;
      right: 30px;
    }
  }
/* ----------------------------------------- header */

/* 	header of pages  */
/* ----------------------------------------- */
  .h-page {
    position: relative;
    min-height: 200px;
    background-position: center center;
    @include cover;

    &:before {
      @extend .pseudo;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0; left: 0;
      z-index: 10;
      opacity: 0.65;
      @include gradient-y(rgba(black, .3), rgba(black, .8), 0%, 100%);
    }

    img {
      position: relative;
      z-index: 5;
    }

    h1 {
      position: relative;
      z-index: 15;
      color: white;
      @include font(30px);
      @include bold;
    }

    @include media-breakpoint-up(md) {
      min-height: 380px;

      h1 {
        @include font(36px);
      }
    }
    @include media-breakpoint-up(lg) {
      min-height: 340px;

      h1 {
        @include font(48px);
      }
    }

    &--clean {
      margin: 100px 0 50px;
      min-height: inherit;
      &:before {
        display: none;
      }
      
      h1 {
        color: $color-pri;
      }
    }

    &--term {
      &:before { display: none; }
      .mask {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0; left: 0;
        z-index: 10;
        @include gradient-y(transparent, rgba(black, .5), 30%, 100%);
      }

      .slick-dots {
        @include media-breakpoint-up(lg) {
          padding-right: 50px;
        }
      }
    }   
  }

  .h-archive {
    .slick-slider {
      &.slick-dotted {
        margin-bottom: 50px;
      }
    }
    
    &--slider {
      .slick-slide {
        position: relative;

        h2 {
          margin: 0;
          position: absolute;
          bottom: 20px; left: 40px;
          z-index: 10;
          @include font(35px);
          @include bold;

          a {
            color: white;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      } // .slick-slide

      .slick-dots {
        width: auto;
        right: 50px;
        z-index: 5;
      }
    }
  }
/* ----------------------------------------- 	header of pages */

/* slideshow */
/* ----------------------------------------- */
  .slideshow {
    .banner {
      &--content {
        min-height: 350px;
        background-position: center center;
        @include cover;

        @include media-breakpoint-up(md) {
          min-height: 500px;
        }
        @include media-breakpoint-up(lg) {
          min-height: 645px;
        }
      }
    }
  }
/* ----------------------------------------- slideshow */

/* loops */
/* ----------------------------------------- */
.loop {
  &--classic {
    margin-bottom: 30px;

    h4 {
      line-height: 20px;
      @extend .font-classic;
      @include bold;

      a {
        color: $color-txt;
        &:hover {
          color: $color-qua;
        }
      }
    }

    time {
      display: none;
      color: $color-qua;
      @include font(16px);
      @include lato_bold;

      @include media-breakpoint-up(md) {
        @include font(20px);
      }
    }

    &__media {
      figure {
        max-width: 120px;
      }

      .media-body {
        border-bottom: 1px solid rgba(#707070, .3);

        h4 {
          line-height: 20px;
          @include font(16px);
        }

        ul {
          padding: 0;
          list-style: none;
          li {
            a {
              letter-spacing: 0.5px;
              color: $color-qua;
              @include font(15px);
              @include lato_medium;
              &:hover {
                color: $color-qui;
              }
            }
          }
        }
      }

      @include media-breakpoint-up(md) {
        figure {
          max-width: 140px;
        }
        .media-body {
          h4 {
            line-height: 28px;
            @include font(20px);
          }
        }
      }

      @include media-breakpoint-up(lg) {
        figure {
          max-width: 190px;
        }
      }
    } // &__media

    &__slider {
      position: relative;

      .more {
        position: absolute;
        bottom: 40px;
      }
    } // &__slider

    &__date {
      padding: 20px;
      width: 100%;
      background: white;
      position: relative;
      @include radius(5px);

      time {
        text-align: center;
        display: flex;
        flex-direction: column;
        color: $color-pri;
        text-transform: uppercase;
        line-height: 29px;
        font-family: $font-pri;
        @include font(17px);
        @include semi;
 
        strong {
          @include font(40px);
          @include bold;
        }
      }

      .media-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100px;

        h4 {
          max-width: 250px;
          line-height: 21px;
          margin-bottom: 0;
          @include font(18px);
          @include bold;
        }

        p { 
          color: #ADB8C9;
          @include font(12px);
          @include semi;
        }

        .more {
          padding: 0.5rem 1rem;
          background: $color-qua;
          color: white;
          text-transform: uppercase;
          border: 0;
          cursor: pointer;
          @include font(10px);
          @include medium;
          @include radius(3px);
          position: absolute;
          bottom: 0; right: 0;
          background: #5DCCB2;
    
          &:hover {
            background: $color-qua;
          }
          
        }
      }

      
      @include media-breakpoint-up(lg) {
        padding: 10px;
      }
      @include media-breakpoint-up(xl) {
        padding: 20px;
      }
    } // &__date

    &.format-video,
    &.format-audio {
      figure {
        position: relative;
        .icon-format {
          position: absolute;
          top: 50%; left: 50%;
          width: 47px;
          height: 47px;
          transform: translate(-50%, -50%);
          background: #5DCCB2;
          display: flex;
          align-items: center;
          justify-content: center;
          @include radius(50%);

          i {
            position: relative;
            z-index: 10;
          }

          &:before {
            position: absolute;
            @extend .pseudo;
            background: rgba(#5DCCB2, .20);
            width: calc(100% + 26px);
            height: calc(100% + 26px);
            top: -13px; left: -13px;
            @include radius(50%);

          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 70px;
    }
  }
}
/* ----------------------------------------- loops */

/* 	offcanvas  */
/* ----------------------------------------- */
  .col-offcanvas {
    &--sidebar {
      .filter {
        padding: 45px 40px 45px 30px;
        border: 1px solid $color-border;
        background: white;
        position: relative;
        cursor: pointer;
        @include radius(5px);

        &--toggle {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 165px;
          position: absolute;
          top: 0; right: -45px;
          z-index: 100;
          background: $color-qua;
          @include transition(all 150ms ease-in-out);
          i {
            transform: rotate(180deg);
          }
        }

        .form-group {
          padding-bottom: 25px;
          margin-bottom: 25px;
          border-bottom: 1px solid $color-border;

          &.box-search {


            .box-search-header {
              display: flex;
              align-items: center;
            }
            
            .facetwp-clear {
              color: #FF4F4F;
              font-size: 12px;
              font-weight: bold;
              flex-shrink: 0;
              margin-left: auto;
              cursor: pointer;
              &:hover {
                color: $color-pri;
              }
            }
            .box-search-header__title {
              text-transform: uppercase;
              @include font(16px);
              @include bold;

              @include media-breakpoint-up(md) {
                @include font(18px);
              }
              @include media-breakpoint-up(xl) {
                @include font(20px);
              }
            }
          }
        }

        .title,
        .btn-collapse {
          text-transform: uppercase;
          @include font(20px);
          @include bold;
        }

        input[type=text] {
          width: 100%;
          padding: 0 30px 0 15px;
          height: calc(4rem + 2px);
          border: 1px solid $color-border;
          background: $color-bg;
          @include radius(0);

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        .label-classic {
          color: $color-ter;
          @include font(15px);
        }

        .btn-collapse {
          color: $color-pri;

          i {
            @include transition(all 300ms ease-in-out);
          }

          &[aria-expanded="true"] {
            i {
              transform: rotate(180deg);
            }
          }
        } // .btn-collapse

        .columns {
          &--one {}
          &--two {
            @include media-breakpoint-up(xl) {
              .facetwp-facet {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            
                div {
                  flex: 0 0 50%;
                  max-width: 50%;        
                }
              }
            }
          }
        } // .collapse

      } // .filter

      &.active {
        .filter--toggle {
          right: -1px;
          background: #CBCFD6;
          i {
            transform: rotate(0);
          }
          &:hover {
            background-color: $color-qua;
          }
        }
      }
    } // &--sidebar
  }
/* ----------------------------------------- 	offcanvas */

/* 	blocks  */
/* ----------------------------------------- */
.block {
  &--search {
    position: relative;
    z-index: 5;
    margin: -80px 0 60px;
    padding: 30px;
    background: white;
    
    p {
      margin-bottom: 5px;
      margin-left: 1px;
      font-size: 13px;
      font-weight: bold;
      color: #263238;
      + .facetwp-facet {
        margin-top: 0;
      }
    }

    .facetwp-facet {
      margin-bottom: 0;
    }

    .form-row {
      margin-right: -10px;
      margin-left: -10px;

      > .col,
      > [class*="col-"] {
        padding-right: 10px;
        padding-left: 10px;

        @include media-breakpoint-down(md) {
          flex-basis: auto;
          margin-bottom: 1rem;
        }
      }
    }

    label {
      text-transform: uppercase;
      letter-spacing: 0.5px;
      @include font(13px);
      @include semi;
    }

    button {
      font-family: $font-ter;
      height: 56px;
      padding-left: 30px;
      padding-right: 30px;
      text-transform: none;
      @include font(18px);

      @include media-breakpoint-up(lg) {
        height: 66px;
      }
    }

    @include media-breakpoint-up(md) {
      margin: -80px 0 100px;
    }
    @include media-breakpoint-up(lg) {
      margin: -80px 0 130px;
    }



    &__territorios {
      .facetwp-facet {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  } // &--search

  &--schedule {

    .loop--classic {
      figure {
        box-shadow: none;
      }
  
      h4 {
        @extend .loop-title;
      }
      time {
        display: block;
      }  
    }  
  } // &--schedule

  &--categories {
    .box-category {
      padding: 10px;
      min-height: 90px;
      justify-content: center;
      align-items: center;
      background: $color-qua;
      color: white;
      @include font(14px);
      @include radius(5px);
      @include transition(all 150ms ease-in-out);

      img {
        max-width: 40px;
      }

      &:hover {
        background: darken($color-qua, 10%);
      }

      @include media-breakpoint-up(md) {}
      @include media-breakpoint-up(xl) {
        padding: 20px 30px;
        min-height: 117px;
        @include font(15px);

        img {
          max-width: inherit;
        }
      }
    }

    .second-row {
      .box-category {
        color: #A37820;
        background: #FFC34A;

        &:hover {
          background: #FFBC34
        }
      }
    }
  } // &--categories

  &--tabs {
    .nav {
      border: 0;
      .nav-link {
        margin-bottom: 1.3rem;
        background: transparent;
        color: $color-pri;
        box-shadow: none;
        border: 0;
        @include semi;

        &.active {
          @include black;
        }
      }
    } // .nav

    .tab-content {
      color: #707070;
      p {
        @include lato_normal();
        @include font(20px);
      }
    } // tab-content
  } // &--tabs

  &--accordion {
    .card,
    .card-header {
      background: transparent;
      @include radius(0);
    }

    .card {
      border: 0;
      border-bottom: 1px solid rgba(#707070, .3) !important;
    }

    .card-header {
      border: 0;
      padding: 0.75rem 0;

      h2 {
        .btn,
        a {
          position: relative;
          padding: 0.6rem 0;
          color: $color-pri;
          @include font(16px);
          @include bold;
          box-shadow: none;

          &:after {
            position: absolute;
            top: 20px; right: 0;
            @extend .pseudo;
            @include sprite($angle-down);
            @include transition(all 150ms ease-in-out);
          }

          &[aria-expanded=true] {
            &:after {
              transform: rotate(180deg);
            }
          }

          &:active {
            outline: none;
            box-shadow: none;
            &:focus {
              box-shadow: none;
            }
          }

          @include media-breakpoint-up(md) {
            @include font(20px);
          }
          @include media-breakpoint-up(lg) {
            @include font(25px);
          }
        }
      }
    }
    .card-body {
      padding: 0.75rem 0 1.5rem;
      color: #707070;
      p {
        @include lato_normal;
        @include font(20px);
      }
    }
  } // &--accordion

  &--term {
    .thumb-effect {
      position: relative;
      @include radius(10px);

      span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba($color-txt, .6);
        color: white;
        @include font(18px);
        @include bold;
      }
    }
  } // &--term

  &--sidebarnav {    
    padding: 0;
    margin: 0;
    list-style: none;
    background: #E6E6E6;

    li {
      @include transition(all 150ms ease-in-out);
      a {
        display: block;
        padding: 1.5rem 0;
        margin: 0 1.5rem;
        text-transform: uppercase;
        color: $color-pri;
        @include font(12px);
        @include bold;
      }

      &:not(:last-child) {
        a {
          border-bottom: 1px solid rgba(#707070, .3);
        }
      }

      &.current-cat,
      &.current_page_item {
        margin-top: -1px;
      }

      &.current-cat,
      &.current_page_item,
      &.current-menu-item,
      &:hover {
        background: $color-qua;
        a {
          color: white;
        }
      }
    }    
  } // &--sidebarnav

}

/* ----------------------------------------- 	blocks */

/* 	page template  */
/* ----------------------------------------- */
  .page {
    &--imprensa {
      footer {
        a {
          letter-spacing: 0.5px;
          color: $color-pri;
          @include font(20px);
          @include lato_medium;

          &.phone-sebrae {
            letter-spacing: 0;
            @include font(35px);
            @include bold;
          }

          &:hover {
            color: $color-sec;
          }
        }
      }
    } // &--imprensa

    &--login {
      &__form {
        width: 100%;
        max-width: 370px;
      }
    } // &--login

    &--edit {
      .select-box {
        background: white;
        select {
          height: 50px;
          &:focus {
            box-shadow: none;
            outline: none;
          }
        }

        &:after {
          top: 20px;
        }
      }
    }

    &--term {

      &__schedule {
        background: #5DCCB2;

        .s-title {
          color: white;
        }

        &.inverse {
          background: $color-qua;
        }
      } // &__schedule
    } // &--term

    &--single {
      .share-box {
        width: 100%;
        margin-top: 1rem;

        h4 {
          color: $color-pri;
          text-transform: uppercase;
          margin: 0;
          @include font(12px);
          @include medium;
        }
        .essb_links {
          background: #E1E5EB;
          padding: 10px 20px;

          .essb_item {
            a {
              min-width: 46px;
              // height: 40px;
              // margin-top: 0;
              // margin-bottom: 0;
              // display: flex;
              // align-items: center;
              // justify-content: center;
            }
          }
        }
      } // .share-box

      &__tags {
        p {
          font-style: italic;
          @include font(14px);

          span {
            font-family: $font-sec;
          }

          a {
            color: $color-pri;
            text-decoration: underline !important;
            &:hover {
              color: $color-sec;
            }
          }
        }
      } // &__tags

      &__comments {
        display: flex;
        flex-direction: column;
        width: 100%;

        .name {
          @include font(25px);
          @include lato_bold;
        }

        .must-log-in {
          @include font(25px);
          @include lato_bold;

          a {
            color: #5DCCB2;
            text-decoration: underline !important;
            @include lato_bold;

            &:hover {
              color: $color-pri;
            }
          }
        }
        
        .logged-in-as, .logged-in-as a, #cancel-comment-reply-link, .comment-reply-link {
          font-size: small;
          font-style: italic;
          color: gray;
        }

        .comment-respond {
          order: 1;
          margin-left: 50px;                                  

          textarea {
            width: 100%;
            @include radius(4px);
            border: 1px solid #CCCCCC;
          }

          .btn--classic {
            cursor: pointer;
            border: 0;
            @include media-breakpoint-up(md) {
              min-width: 220px;
            }
          }
        }

        .comment-list {
          order: 2;
          padding-top: 25px;
          
          > ul > li {
            margin-bottom: 3rem;
            padding-bottom: 3rem;
          }
          
          ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li, p {
              color: #7B7E95;
            }
            p {
              word-break: break-all;
              hyphens: auto;
            }

            li {              

              &:not(:last-child) {
                border-bottom: 1px solid #E0E3E8;
              }

              .children {
                // margin: 4rem 0 4rem 4rem;    
                margin-top: 4rem;
                margin-left: 4rem;            

                li {
                  
                  .comment-body {
                    border-bottom: 0;
                    padding: 2rem;
                    position: relative;
                    background: #E0E3E8;
  
                    &:before {
                      @extend .pseudo;
                      position: absolute;
                      top: 0; left: -40px;
                      display: inline-block;
                      margin-left: .255em;
                      vertical-align: .255em;
                      border-top: 40px solid #E0E3E8;
                      border-right: 40px solid transparent;
                      border-bottom: 0;
                      border-left: 40px solid transparent;
                    }

                  }
                }
              }
            }
          }
        }
      }
    } // &--single

    &--schedule {
      .loop--classic__date {
        position: relative;

        .media-body {
          p { color: #ADB8C9; }
        }

        .more {
          position: absolute;
          bottom: 0; right: 0;
          background: #5DCCB2;

          &:hover {
            background: $color-qua;
          }

          &:focus {
            outline: none;
          }
        }
      }

      &__slider {
        .slick-dots {
          bottom: 0;
          text-align: center;
          li {
            button {
              &:before {
                color: $color-pri;
              }
            }
            &.slick-active {
              button:before {
                color: $color-qua;
                opacity: 1;
              }
            }
          }
        }
      }
    } // &--schedule

    &-template-page-favoritos {
      .loop--classic {
        position: relative;
        &:before {
          position: absolute;
          top: 0; left: 15px;
          @extend .pseudo;
          @include sprite($star);
          width: 43px;
          height: 40px;
          background-position: -191px 2px;
          background-color: #FFC34A;
          z-index: 10;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    } // &--favorites
  }
/* ----------------------------------------- 	page template */

/* 	modal  */
/* ----------------------------------------- */
  .modal-backdrop {
    background: $color-sex;
    &.show {
      opacity: 0.8;
    }
  }

  .modal-xl {
    @include media-breakpoint-up(xl) {
      max-width: 957px;
    }
  }

  .modal-content {
    position: relative;
    @include radius(0.6rem);

    .close {
      position: absolute;
      top: 0; right: 0;
      width: 57px;
      height: 57px;
      border-top-right-radius: 0.6rem;
      background: #ADB8C9;
      opacity: 1;
      cursor: pointer;
      z-index: 10;

      &:hover {
        background: $color-qua;
      }
    }

    .modal-body {
      padding: 0;
      .media {
        .media-body {
          padding: 57px 30px 30px 0;
        }
      }
    }
  }

  #loginModal {
    form {
      width: 100%;
      @include media-breakpoint-up(md) {
        margin-bottom: 40px;
      }
    }
  }

  #modal-event {
    .content {
      .s-title {
        @include font(40px);
      }

      .media-body {
        h6 {
          color: $color-txt;
          text-transform: uppercase;
          @include font(15px);
          @include bold;
        }
        p {
          line-height: 25px;

          &.investment {
            line-height: inherit;
            margin: 0;
            font-family: $font-pri;
            color: $color-txt;
            display: flex;
            align-items: flex-end;
            @include font(20px);
            @include bold;

            strong {
              line-height: 38px;
              margin-left: 10px;
              @include font(35px);
              @include bold;
            }
          }

          &.date {
            color: #5DCCB2;
            @include medium;
            @include font(15px);
          }
        }

        .btn--classic {
          margin-left: auto;
          padding: 25px 20px;
          height: auto;
          min-width: inherit;
        }
      }
    }
  }
/* ----------------------------------------- 	modal */

/* footer */
/* ----------------------------------------- */
  .main-footer {
    padding-top: 40px;
    background: $color-sex;
    color: white;

    .accessibility {
      justify-content: center;
      @include media-breakpoint-up(md) {
        justify-content: flex-start;
      }
    }

    h2 {
      margin-bottom: 20px;
      text-transform: uppercase;
      @include font(15px);
      @include bold;

      @include media-breakpoint-up(md) {
        margin-bottom: 30px;
      }
    }

    p, a {
      @include font(15px);
      @include medium;
      color: white;
    }

    a, .nav-link {
      margin-bottom: 10px;
      letter-spacing: 0.5px;
      @include lato_bold;
      &:hover {
        color: $color-qua;
      }
    }

    .navbar-nav {
      padding-left: 0;
      padding-right: 0;
      .nav-item {
        .nav-link {
          padding: 0;
          color: white;
          &:hover {
            color: $color-qua;
          }
        }
      }
    } // .navbar-nav

    .accessibility {
      li {
        &:last-child {
          display: none;
        }
      }
    } // .accessibility

    .social-networks {
      li {
        display: inline-block;

        a {
          color: white;
          @include font(15px);

          &:hover {
            color: $color-qua;
          }
        }

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    } // .social-networks

    .copy {
      margin-top: 40px;
      height: 40px;
      background: $color-qui;
    }
  }
/* ----------------------------------------- footer */


/* Busca */
/* ----------------------------------------- */
  body.page-template-page-busca {

    .facetwp-template {
      display: none;
    }

    &.facet-on {
      .default-loop {
        display: none;
      }
      .facetwp-template {
        display: flex;
      }
    }
  }
/* ----------------------------------------- Busca */

/* Territórios */
/* ----------------------------------------- */
  body.page-template-page-territorios {
    .h-page {
      margin-bottom: 36px;
      min-height: auto;
    }
    h1 {
      color: #3C4B63;
    }

    .facetwp-facet-territorios {
      .fs-label-wrap {
        border-color: #ADB8C9;
        background-color: #DDDEE2;
      }
    }
  }  
/* ----------------------------------------- Territórios */


/* Area Restrita */
/* ----------------------------------------- */
  body.parent-pageid-282 {

    #content {
      margin-top: 120px;
      margin-bottom: 90px;
    }
  }

  body.page-template-page-conteudos-baixados {
   .loop--classic {
     position: relative;
     .btn--remove {
       appearance: none;
       border: 0;
       background-color: #3C4B63;
       text-indent: -9999px;
       overflow: hidden;
       color: transparent;
       position: absolute;
       top: 0;
       right: 0;
       width: 44px;
       height: 40px;
       opacity: 1;
       z-index: 3;
       cursor: pointer;
       i {
        @extend .icon-close;
        position: absolute;
        right: 12px;
        top: 10px;
        margin: 0 !important;
       }

      &:hover {
        background-color: #4C89EB;
      }
     }
   } 
  }
/* ----------------------------------------- Area Restrita */

/* Acessibilidade: Contraste */
/* ----------------------------------------- */
  .acessibilidade {
    &, .page--single .share-box .essb_links {
      background-color: black !important;
    }
    nav,
    // div:not(.modal),
    li,
    ol,
    header,
    footer,
    section,
    main,
    aside,
    article {
      background-color: black !important;
      color: white !important;
    }
    h1, h2, h3, h4, h5, h6, p, label, strong, em, cite, q, i , b, u, span, time {
      color: white !important;
    }
    a {
      color: yellow !important;
    }
    button, input[type=button], input[type=reset], input[type=submit] {
      background-color: black !important;
      color: yellow !important;
      border: none !important;
    }

    img.on-contrast-force-gray {
        filter: grayscale(100%) contrast(120%);
    }
    img.on-contrast-force-white {
        filter: brightness(0) invert(1);
    }
  
    input[type=text],  input[type=password],  input[type=url],  input[type=search],  input[type=email],  input[type=tel],  input[type=date],  input[type=month],  input[type=week],  input[type=datetime],  input[type=datetime-local],  textarea,  input[type=number] {
      background-color: black !important;
      border: 1px solid white !important;
      color: white !important;
    }

    .main-header--topbar,
    .main-header .navbar-nav .nav-item.dropdown > .navbar-nav,
    .block--search,
    .box-category,
    .btn,
    .nav-item--search .nav-link,
    .account li a,
    .filter,
    .wpcf7-response-output
    {
      background-color: black !important;
      color: white;
      border: 1px solid white !important;
    }

    .filter a.btn-collapse i 
    {
      filter: brightness(0);
    }
    footer {
      border-top: 1px solid white; 
    }

  }
/* ----------------------------------------- Acessibilidade: Contraste */
